/*font-family: 'Merriweather', serif;
font-family: 'Mulish', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Mulish:wght@300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
.now_playing{
    display: flex;
}
.movie_popular{
    display: flex;
}
.now_img{
    flex-direction: column;
}